.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.115234;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.364258;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.432129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:0.192000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-2.249280px;}
._2{margin-left:-1.008000px;}
._3{width:1.008000px;}
._1{width:18.224000px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:44.160000px;}
.fs2{font-size:48.000000px;}
.fs0{font-size:68.160000px;}
.y1{bottom:0.000000px;}
.y0{bottom:103.000000px;}
.y2b{bottom:105.500000px;}
.y2a{bottom:121.340000px;}
.y29{bottom:136.820000px;}
.y28{bottom:151.700000px;}
.y27{bottom:167.660000px;}
.y26{bottom:183.500000px;}
.y25{bottom:199.340000px;}
.y24{bottom:215.180000px;}
.y23{bottom:231.050000px;}
.y22{bottom:247.010000px;}
.y21{bottom:262.850000px;}
.y20{bottom:278.690000px;}
.y1f{bottom:294.530000px;}
.y1e{bottom:310.490000px;}
.y1d{bottom:326.330000px;}
.y1c{bottom:342.170000px;}
.y1b{bottom:358.010000px;}
.y1a{bottom:373.970000px;}
.y19{bottom:389.810000px;}
.y18{bottom:405.650000px;}
.y17{bottom:421.510000px;}
.y16{bottom:437.470000px;}
.y15{bottom:453.310000px;}
.y14{bottom:469.150000px;}
.y13{bottom:484.990000px;}
.y12{bottom:500.950000px;}
.y11{bottom:516.790000px;}
.y10{bottom:532.630000px;}
.yf{bottom:548.470000px;}
.ye{bottom:564.310000px;}
.yd{bottom:580.270000px;}
.yc{bottom:596.140000px;}
.yb{bottom:611.980000px;}
.ya{bottom:627.820000px;}
.y9{bottom:643.780000px;}
.y8{bottom:659.620000px;}
.y7{bottom:675.460000px;}
.y6{bottom:691.300000px;}
.y5{bottom:707.260000px;}
.y4{bottom:723.100000px;}
.y3{bottom:738.940000px;}
.y2{bottom:754.060000px;}
.h4{height:43.031250px;}
.h6{height:45.906562px;}
.h5{height:49.898438px;}
.h3{height:50.671875px;}
.h2{height:61.670156px;}
.h1{height:444.000000px;}
.h0{height:841.680000px;}
.w1{width:394.000000px;}
.w2{width:595.439991px;}
.w0{width:595.440000px;}
.x1{left:0.000009px;}
.x3{left:90.023991px;}
.x0{left:108.000000px;}
.x2{left:143.299991px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:0.256000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-2.999040pt;}
._2{margin-left:-1.344000pt;}
._3{width:1.344000pt;}
._1{width:24.298667pt;}
.fs1{font-size:58.880000pt;}
.fs2{font-size:64.000000pt;}
.fs0{font-size:90.880000pt;}
.y1{bottom:0.000000pt;}
.y0{bottom:137.333333pt;}
.y2b{bottom:140.666667pt;}
.y2a{bottom:161.786667pt;}
.y29{bottom:182.426667pt;}
.y28{bottom:202.266667pt;}
.y27{bottom:223.546667pt;}
.y26{bottom:244.666667pt;}
.y25{bottom:265.786667pt;}
.y24{bottom:286.906667pt;}
.y23{bottom:308.066667pt;}
.y22{bottom:329.346667pt;}
.y21{bottom:350.466667pt;}
.y20{bottom:371.586667pt;}
.y1f{bottom:392.706667pt;}
.y1e{bottom:413.986667pt;}
.y1d{bottom:435.106667pt;}
.y1c{bottom:456.226667pt;}
.y1b{bottom:477.346667pt;}
.y1a{bottom:498.626667pt;}
.y19{bottom:519.746667pt;}
.y18{bottom:540.866667pt;}
.y17{bottom:562.013333pt;}
.y16{bottom:583.293333pt;}
.y15{bottom:604.413333pt;}
.y14{bottom:625.533333pt;}
.y13{bottom:646.653333pt;}
.y12{bottom:667.933333pt;}
.y11{bottom:689.053333pt;}
.y10{bottom:710.173333pt;}
.yf{bottom:731.293333pt;}
.ye{bottom:752.413333pt;}
.yd{bottom:773.693333pt;}
.yc{bottom:794.853333pt;}
.yb{bottom:815.973333pt;}
.ya{bottom:837.093333pt;}
.y9{bottom:858.373333pt;}
.y8{bottom:879.493333pt;}
.y7{bottom:900.613333pt;}
.y6{bottom:921.733333pt;}
.y5{bottom:943.013333pt;}
.y4{bottom:964.133333pt;}
.y3{bottom:985.253333pt;}
.y2{bottom:1005.413333pt;}
.h4{height:57.375000pt;}
.h6{height:61.208750pt;}
.h5{height:66.531250pt;}
.h3{height:67.562500pt;}
.h2{height:82.226875pt;}
.h1{height:592.000000pt;}
.h0{height:1122.240000pt;}
.w1{width:525.333333pt;}
.w2{width:793.919988pt;}
.w0{width:793.920000pt;}
.x1{left:0.000012pt;}
.x3{left:120.031988pt;}
.x0{left:144.000000pt;}
.x2{left:191.066655pt;}
}
